@media (max-width: 768px) {
    #Navigation {
        width: 90%; /* Navbar'ın genişliğini %90 yap */
        justify-content: space-evenly; /* Menü öğelerini eşit şekilde yerleştir */
    }

    .navigationItem {
        width: 45%; /* Her bir item'ın genişliğini daha küçük yap */
        height: 40px; /* Yüksekliği küçült */
    }

    #HeadText {
        font-size: 24px; /* Başlık font boyutunu küçült */
    }
}

/* Daha küçük ekranlar için (örneğin, telefonlarda) */
@media (max-width: 480px) {
    #Navigation {
        flex-direction: column; /* Navbar öğelerini dikey sıralanacak şekilde yap */
        width: 100%;
    }

    .navigationItem {
        width: 100%; /* Her item'ın genişliğini %100 yap */
        height: 50px; /* Yüksekliği biraz artır */
        margin: 5px 0; /* Menü öğeleri arasındaki mesafeyi artır */
    }

    #HeadText {
        font-size: 20px; /* Başlık font boyutunu daha da küçült */
    }
}